<% if flash[:notice] %>
	<% if @suggestions %>
  	<div class="notice" style="color:green"><%= flash[:notice] %></div>
  	<% @suggestions.each do |sug| %>
			<h6> <%=sug%>  </h6>
  	<%end%>
  <% else %>
  	<div class="notice" style="color:red"><%= flash[:notice] %></div>
  <% end %>
<% else %>
<%= label_tag '',"Word : " %><br><%= @hash1["word"] %>
<div class="res">
 <% if @bookmarked %>
  <%=link_to "UnBookmark this word ",unbookmark_path(@hash1["word"]),remote: true,class: "fa fa-bookmark pull-right" %>
 <% else %>
  <%=link_to "Bookmark this word",bookmark_path(@hash1["word"]),remote: true,class: "fa fa-bookmark-o pull-right"%>
 <% end %> 
</div>
<br/>
<%= label_tag '',"meaning : " %><br><%= @hash1["meaning1"] %>
<br/>

<% if @hash1["meaning2"].present?%>
<%= label_tag '',"meaning : " %><br><%= @hash1["meaning2"]%>
<% end %>
<br/>

<% if @hash1["meaning3"].present?%>
<%= label_tag '',"meaning : " %><br><%= @hash1["meaning3"]%>
<% end %>
<%= link_to "Download",download_path(@hash1["word"],{:format=>"pdf"}),class: "fa fa-download"%>
<%end%>
